
@keyframes slideInUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100px);
    }

}


.animated-section {
    opacity: 1;
}

/* En pantallas >= 751px aplicamos ambas animaciones, cada una con su timeline/rango */
@media screen and (min-width: 751px) {
    .animated-section {
        opacity: 0;
        animation:
            slideInUp 0.8s ease-out forwards,
            slideOutDown 0.8s ease-out forwards;
        /* Deben listarse tantas veces como animaciones (aquí 2) */
        animation-timeline: view(), view();
        
        /* Rango para la animación de entrada y para la de salida */
        animation-range: entry 0% cover 50%, exit 0% exit 70%;
    }
}