/*Animaciones*/
@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(80px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-80px);
    }
}


.animate-slide-in-up {
    opacity: 1;
}

.animate-slide-out-down {
    opacity: 1;
}

@media screen and (min-width: 751px) {
    .animate-slide-in-up {
        opacity: 0;
        animation: slideInUp 0.8s ease-out forwards;
        animation-timeline: view();
        animation-range: entry 30% cover 60%;
    }

    .animate-slide-out-down {
        opacity: 1;
        animation: slideOutDown 0.8s ease-out forwards;
        animation-timeline: view();
        animation-range: exit 0% exit 50%;
    }
}