@import "tailwindcss";
@import "./colors.css";
@import "./text.css";

@theme {
    /* Colores */
    --color-primary: var(--primary-color);
    --color-primary-dark: var(--primary-color-dark);
    --color-primary-darker: var(--primary-color-darker);
    --color-resalt: var(--resalt-color);

    /* Tamaños de texto */
    --text-title: var(--text-title-size);
    --text-subtitle: var(--text-subtitle-size);
    --text-normal: var(--text-base-size);
    
    /* Fuentes */
    --font-title: var(--text-title-font);
}