---
import TechStack from "./components/TechStack.astro";
import Welcome from "./components/Welcome.astro";
---

<main class="min-w-[360px] max-w-8/12 mx-auto py-10 flex flex-col gap-8">
	<Welcome />
    <TechStack />
</main>
