---
import BadgeTypeScript from "../../../shared/badges/BadgeTypeScript.astro";
import BadgePython from "../../../shared/badges/BadgePython.astro";
import BadgeJava from "../../../shared/badges/BadgeJava.astro";
import BadgeGo from "../../../shared/badges/BadgeGo.astro";
import BadgeSQL from "../../../shared/badges/BadgeSQL.astro";
import BadgeBash from "../../../shared/badges/BadgeBash.astro";
import BadgeJavaScript from "../../../shared/badges/BadgeJavaScript.astro";
import BadgeHTML from "../../../shared/badges/BadgeHTML.astro";
import BadgeCSS from "../../../shared/badges/BadgeCSS.astro";
import BadgeAngular from "../../../shared/badges/BadgeAngular.astro";
import BadgeReact from "../../../shared/badges/BadgeReact.astro";
import BadgeAstro from "../../../shared/badges/BadgeAstro.astro";
import BadgeTailwind from "../../../shared/badges/BadgeTailwind.astro";
import BadgeIonic from "../../../shared/badges/BadgeIonic.astro";
import BadgeNodeJS from "../../../shared/badges/BadgeNodeJS.astro";
import BadgeJest from "../../../shared/badges/BadgeJest.astro";
import BadgeCypress from "../../../shared/badges/BadgeCypress.astro";
import BadgeAllure from "../../../shared/badges/BadgeAllure.astro";
import BadgeIntelliJ from "../../../shared/badges/BadgeIntelliJ.astro";
import BadgeAndroidStudio from "../../../shared/badges/BadgeAndroidStudio.astro";
import BadgeVSCode from "../../../shared/badges/BadgeVSCode.astro";
import BadgeDocker from "../../../shared/badges/BadgeDocker.astro";
---

<section
	id="techs"
	class="flex flex-col gap-10 text-primary justify-center items-center py-12 px-8 animated-section max-w-7/12 mx-auto"
>
	<h1
		class="text-title font-extrabold bg-linear-to-b from-cyan-400 to-fuchsia-500 bg-clip-text text-transparent"
	>
		Tech Stack
	</h1>

	<div
		class="flex flex-wrap flex-col gap-8 justify-center items-center max-w-10/12 text-normal font-['consolas']"
	>
		<div id="Language" class="flex flex-wrap gap-2 justify-center w-full">
			<BadgeTypeScript />
			<BadgePython />
			<BadgeJava />
			<BadgeGo />
			<BadgeSQL />
			<BadgeBash />
		</div>

		<div
			id="Frameworks"
			class="flex flex-wrap gap-2 justify-center max-w-10/12"
		>
			<BadgeJavaScript />
			<BadgeHTML />
			<BadgeCSS />
			<BadgeAngular />
			<BadgeReact />
			<BadgeAstro />
			<BadgeTailwind />
			<BadgeIonic />
			<BadgeNodeJS />

			<div
				id="Testing"
				class="flex flex-wrap gap-2 justify-center w-full"
			>
				<BadgeJest />
				<BadgeCypress />
				<BadgeAllure />
			</div>
		</div>

		<div id="Tools" class="flex flex-wrap gap-2 justify-center max-w-6/12">
			<BadgeIntelliJ />
			<BadgeAndroidStudio />
			<BadgeVSCode />
			<BadgeDocker />
		</div>
	</div>
</section>

<style>
	section {
		background: rgba(0, 0, 0, 0.7);
		border-radius: 18px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(15px);
		border: 2px solid #7a7a7a;
	}

	@media screen and (max-width: 750px) {
		div {
			gap: 0.1rem;
			max-width: 20rem;
		}

		#techs span {
			display: none;
		}

		section {
			border-radius: 0;
			border-top: 0;
			max-width: 100%;
		}
	}
</style>
