---
import { Image } from "astro:assets";
import AnimateAnchor from "../../../templates/AnimateAnchor.astro";
import perfilImage from "../../../../public/perfil.webp";
import linkedinIcon from "../../../../public/icons/linkedin-mark.svg";
import githubIcon from "../../../../public/icons/github-mark.svg";
import hackerrankIcon from "../../../../public/icons/hackerrank-mark.svg";
---

<section
	id="welcome"
	class="flex flex-col gap-4 text-primary py-12 px-8 animated-section max-w-8/12 mx-auto"
>
	<div
		id="wrapper"
		class="flex flex-row flex-wrap mb-2 ml-6 gap-6 items-center link-wrapper"
	>
		<Image
			src={perfilImage}
			alt="Giovanni León"
			class="w-45 h-45 rounded-full select-none border-2 border-[#46ad6f] pointer-events-none"
			width={180}
			height={180}
			loading="eager"
		/>

		<div
			class="flex flex-col gap-4 justify-start items-baseline link-wrapper"
		>
			<AnimateAnchor
				href="https://www.linkedin.com/in/giovanni-lc/"
				mainSpinColor="00629E"
				alternateSpinColor="6BC8FF"
				className="bg-sky-900 text-zinc-100 gap-2 px-3 py-2"
			>
				<Image
					src={linkedinIcon}
					alt="Giovanni León LinkedIn"
					class="w-5 h-5"
					width={20}
					height={20}
					loading="eager"
				/>
				Disponible para trabajar
			</AnimateAnchor>

			<div class="flex flex-row flex-wrap gap-2 link-wrapper">
				<AnimateAnchor
					href="https://github.com/DevGiovanniLC"
					mainSpinColor="A8A29E"
					alternateSpinColor="52525B"
					className="bg-zinc-500 text-zinc-100 gap-2 px-4 py-2"
				>
					<Image
						src={githubIcon}
						alt="Giovanni León GitHub"
						class="w-5 h-5"
						width={20}
						height={20}
						loading="eager"
					/>
					GitHub
				</AnimateAnchor>

				<AnimateAnchor
					href="https://www.hackerrank.com/profile/giovanni_lc"
					mainSpinColor="006301"
					alternateSpinColor="75FF76"
					className="bg-green-800 text-zinc-100 gap-2 px-4 py-2"
				>
					<Image
						src={hackerrankIcon}
						alt="Giovanni León HackerRank"
						class="w-5 h-5"
						width={20}
						height={20}
						loading="eager"
					/>
					HackerRank
				</AnimateAnchor>
			</div>
		</div>
	</div>
	<h1 class="font-semibold text-title font-title">Giovanni León Corujo</h1>

	<h2 class="font-title font-light text-subtitle text-primary-dark">
		Ingeniero Informático | Desarrollador Full Stack | QA Tester
	</h2>

	<p class="text-normal text-balance">
		<strong
			>¡Hola! Soy Giovanni <span
				id="hand-move"
				class="absolute animate-ping opacity-75">👋</span
			>
			<span class="relative">👋</span></strong
		>, un apasionado ingeniero informático especializado en <strong
			>desarrollo web y móvil</strong
		>, así como en <strong>automatización de pruebas</strong> e <strong
			>integración con bases de datos</strong
		>. Me encanta crear soluciones tecnológicas innovadoras y eficientes.
	</p>
	<div class="flex flex-row gap-2">
		<span class="animate-pulse">✨</span>
		<p
			class="font-sans text-base font-semibold text-transparent bg-clip-text bg-linear-to-r from-resalt to-sky-50"
		>
			¡Explora mi portfolio para conocer más sobre mis proyectos y
			habilidades!
		</p>
	</div>
</section>

<style>
	#welcome {
		background: rgba(49, 135, 85, 0.2);
		backdrop-filter: blur(5px);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		border-radius: 18px;
		border: 2px solid #6bffa6;
	}

	@media screen and (max-width: 750px) {
		#hand-move {
			display: none;
		}

		#welcome {
			border-radius: 0;
			border: 0;
			max-width: 100%;
			padding-top: 4.5rem;
			padding-bottom: 4rem;
			box-shadow: 0;
		}

		.link-wrapper {
			@apply items-center justify-center text-center;
			margin-left: 0rem;
		}
	}
</style>
