---
import { Image } from "astro:assets";
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
import allureIcon from "../../../public/icons/allure-report-icon.png";
---

<AnimateAnchor
	href="https://qameta.io/allure-report/"
	mainSpinColor="FF4081"
	alternateSpinColor="C2185B"
	className="tech-badge bg-pink-700 text-zinc-100 gap-1 px-2 py-1"
>
	<Image
		src={allureIcon}
		alt="Allure Report"
		class="w-4 h-4"
		width={16}
		height={16}
		loading="lazy"
	/>
	<span>Allure Report</span>
</AnimateAnchor>
