---
import { Image } from "astro:assets";
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://www.cypress.io"
	mainSpinColor="17202C"
	alternateSpinColor="04C38E"
	className="tech-badge bg-cyan-950 text-zinc-100 gap-1 px-2 py-1"
>
	<Image
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cypressio/cypressio-original.svg"
		alt="Cypress"
		class="w-4 h-4"
		width={16}
		height={16}
		loading="lazy"
	/>
	<span>Cypress</span>
</AnimateAnchor>
