---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://code.visualstudio.com"
	mainSpinColor="007ACC"
	alternateSpinColor="005A9E"
	className="tech-badge bg-indigo-800 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
		alt="VS Code"
		class="w-4 h-4"
	/>
	<span>VS Code</span>
</AnimateAnchor>
