---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://www.jetbrains.com/idea/"
	mainSpinColor="A93C30"
	alternateSpinColor="7B1FA2"
	className="tech-badge bg-red-600 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/intellij/intellij-original.svg"
		alt="IntelliJ IDEA"
		class="w-4 h-4"
	/>
	<span>IntelliJ IDEA</span>
</AnimateAnchor>
