---
import { Image } from "astro:assets";
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://jestjs.io"
	mainSpinColor="C21325"
	alternateSpinColor="99424F"
	className="tech-badge bg-red-900 text-zinc-100 gap-1 px-2 py-1"
>
	<Image
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jest/jest-plain.svg"
		alt="Jest"
		class="w-4 h-4"
		width={16}
		height={16}
		loading="lazy"
	/>
	<span>Jest</span>
</AnimateAnchor>
