---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://jestjs.io"
	mainSpinColor="C21325"
	alternateSpinColor="7a0f1a"
	className="tech-badge bg-pink-500 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jest/jest-plain.svg"
		alt="Jest"
		class="w-4 h-4"
	/>
	<span>Jest</span>
</AnimateAnchor>
