---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://www.sql.org"
	mainSpinColor="336791"
	alternateSpinColor="1a3a4d"
	className="tech-badge bg-blue-800 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original.svg"
		alt="SQL"
		class="w-4 h-4"
	/>
	<span>SQL</span>
</AnimateAnchor>
