---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://www.docker.com"
	mainSpinColor="2496ED"
	alternateSpinColor="0b66a3"
	className="tech-badge bg-sky-800 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-plain.svg"
		alt="Docker"
		class="w-4 h-4"
	/>
	<span>Docker</span>
</AnimateAnchor>
