---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://qameta.io/allure-report/"
	mainSpinColor="FF4081"
	alternateSpinColor="C2185B"
	className="tech-badge bg-pink-700 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="icons/allure-report-icon.png"
		alt="Allure Report"
		class="w-4 h-4"
	/>
	<span>Allure Report</span>
</AnimateAnchor>
