---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://www.cypress.io"
	mainSpinColor="04B38A"
	alternateSpinColor="026e50"
	className="tech-badge bg-emerald-700 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cypressio/cypressio-original.svg"
		alt="Cypress"
		class="w-4 h-4"
	/>
	<span>Cypress.io</span>
</AnimateAnchor>
