---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://reactjs.org"
	mainSpinColor="61DAFB"
	alternateSpinColor="1f6fa7"
	className="tech-badge bg-blue-700 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
		alt="React"
		class="w-4 h-4"
	/>
	<span>React</span>
</AnimateAnchor>
