---
import { Image } from "astro:assets";
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://www.jetbrains.com/idea/"
	mainSpinColor="000000"
	alternateSpinColor="FE315D"
	className="tech-badge bg-slate-800 text-zinc-100 gap-1 px-2 py-1"
>
	<Image
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/intellij/intellij-original.svg"
		alt="IntelliJ IDEA"
		class="w-4 h-4"
		width={16}
		height={16}
		loading="lazy"
	/>
	<span>IntelliJ IDEA</span>
</AnimateAnchor>
