---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://nodejs.org"
	mainSpinColor="339933"
	alternateSpinColor="1a5f1a"
	className="tech-badge bg-green-700 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg"
		alt="Node.js"
		class="w-4 h-4"
	/>
	<span>Node.js</span>
</AnimateAnchor>
