---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://html.spec.whatwg.org"
	mainSpinColor="E34C26"
	alternateSpinColor="8a2817"
	className="tech-badge bg-red-700 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
		alt="HTML5"
		class="w-4 h-4"
	/>
	<span>HTML</span>
</AnimateAnchor>
