---
import { Image } from "astro:assets";
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://www.w3.org/Style/CSS"
	mainSpinColor="563D7C"
	alternateSpinColor="2d1f3d"
	className="tech-badge bg-indigo-700 text-zinc-100 gap-1 px-2 py-1"
>
	<Image
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
		alt="CSS"
		class="w-4 h-4"
		width={16}
		height={16}
		loading="lazy"
	/>
	<span>CSS</span>
</AnimateAnchor>
