---
import { Image } from "astro:assets";
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://www.java.com"
	mainSpinColor="007396"
	alternateSpinColor="003d5c"
	className="tech-badge bg-orange-900 text-zinc-100 gap-1 px-2 py-1"
>
	<Image
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg"
		alt="Java"
		class="w-4 h-4"
		width={16}
		height={16}
		loading="lazy"
	/>
	<span>Java</span>
</AnimateAnchor>
