---
import { Image } from "astro:assets";
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://tailwindcss.com"
	mainSpinColor="06B6D4"
	alternateSpinColor="38BDF8"
	className="tech-badge bg-cyan-800 text-zinc-100 gap-1 px-2 py-1"
>
	<Image
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
		alt="Tailwind"
		class="w-4 h-4"
		width={16}
		height={16}
		loading="lazy"
	/>
	<span>Tailwind</span>
</AnimateAnchor>
