---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://angular.dev"
	mainSpinColor="F54927"
	alternateSpinColor="FF00E3"
	className="tech-badge bg-pink-900 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
		alt="Angular"
		class="w-4 h-4"
	/>
	<span>Angular</span>
</AnimateAnchor>
