---
import AnimateAnchor from "../../templates/AnimateAnchor.astro";
---

<AnimateAnchor
	href="https://tailwindcss.com"
	mainSpinColor="38B6FF"
	alternateSpinColor="1a5f99"
	className="tech-badge bg-sky-600 text-zinc-100 gap-1 px-2 py-1"
>
	<img
		src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
		alt="Tailwind CSS"
		class="w-4 h-4"
	/>
	<span>Tailwind CSS</span>
</AnimateAnchor>
